.external h2{
    color: black;
    text-align: center;

}
.external button{
    color: black;
    background-color:rgb(245, 190, 107) ;
}
.external{
    background-color: blanchedalmond;
    border: 1px solid purple;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    width: 25%;
    text-align: center;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}